
/*reset para quitar margenes*/

/*estilos generales*/




* {
    Margin: 0;
    padding: 0;
    font-family: Mulish;
    box-sizing: border-box;
}

/*selectores de etiqueta*/

nav {
    display: flex;
    height: 5rem;
    padding: 0.5rem;
    justify-content: space-between;
  
}

a {
    text-decoration: none;
    color: #2A4B54;
    font-weight: 500;
}


main {

    display: flex;
    justify-content: flex-start;

}

table {
    display: flex;
    justify-content: center;
}

td {
    border: rgb(17, 85, 136) 1px solid;
    padding: 10px;
    margin: 2em;

}

footer {
    background-color:#2A4B54;
    height: 8em;
    padding: 1em;

}





/*navegation menu*/

.logo_container {
    padding: 0.2rem;
    height: 4rem;
    width: 3rem;
    margin-left: 0.5rem;
}

.logo_img {
    height: 4rem;
    width: 6rem;
}

.menu_list {
    display: flex;
    list-style: none;

}

.menu_element {
    padding: 1em;
    margin: .5em;

}

.menu_list li a:hover {
    color: rgb(6, 74, 77);
    font-weight: 600;
}

.btn_primary {
    width: 8rem;
    height: 3rem;
    background-color: rgb(34, 112, 146);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}


/*introduction section*/

.intro_section {
    display: flex;
    background-color: rgb(234, 237, 241);
    height: 28em;
}


.first_title {
    padding: 1em;
    margin: 2em;
    width: 20em;
    color: #2A4B54;
    display: flex;
    align-items: center;

}

.card_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(234, 237, 241);
}

.card {
    width: 15em;
    height: 22em;
    margin: 2em;
    padding: 2em;
    border:dotted #2A4B54;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_text {
text-align: center;
}
.card_img {
    height: 4rem;
    width: 6rem;
}


/*section about me*/
.aboutme_section {
    display: flex;
    align-items: center;
    height: 18em;
    padding: 1em;
    margin: 2em;
}

.text_presentacion {
    padding: 1em;
    margin: 1em;
    color: #2A4B54;
}

.title_aboutme {

    padding: 1em;
    margin: 2em;
    width: 20em;
    color: #2A4B54;
    display: flex;
    align-items: center;

}

/*section details*/


.details_section {
    margin: 2em;
    padding: 2em;
    display: flex;
    height: 15em;
    display: flex;
    justify-content: space-between;
}

.list_details {
    color: rgb(9, 81, 80);
    margin: 1em;
    padding: 1em;
    width: 25%;

}





.hr_solid {
    border-top: 2px solid rgb(3, 9, 37);
}




.img_container {
    margin-top: 6em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    display: block;
    width: 240px;
    height: 320px;
    display: flex;
    justify-content: center;
}






.img_container2 {
    display: flex;
    justify-content: center;
    padding: .5em;
    background-color: rgb(222, 232, 238);
}






.table_section {
    display:flexbox;
    justify-content: flex-end;
    margin: 3em;
    padding: 3em;
}

.table_section h3 {
    color: rgb(9, 81, 80);
    display: flex;
    justify-content:center;
}


.lista_footer {
    display: flex;
    list-style: none;
    justify-content: right;
}

.copyright {
    display: flex;
    list-style: none;
    justify-content:right;
    margin: 1em;
}

/*pagina experiencia*/

.experiencia {
    padding: 2em;
    margin: 2em;
    height: 200px;
    width: 540px;
    
}

.form_section {
    display: flex;
    align-items: center;
}

.formulario {
    margin: 10em;
    padding: 3em;
    justify-content: space-around;
    border: solid 2px;
    border-radius: 10px;
}

.descripcion {
    display: block;
}

.entrada {
    display: block;
}

.divimg_form {
    justify-content: center;
    padding: 2em;
}

.img_form {
    width: 220px;
    height: 300px;

}
